<p>{{Message}}</p>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-cube"></i> Show Room User</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <form name="showroomUserForm" novalidate role="form" class="form-horizontal" id="showroomUserForm" ng-submit="submitShowroomUserForm()">
        <div class="box-body">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <label>User Name</label>
                    <div class="input-group" ng-class="{ 'has-error' : showroomUserForm.userListCmb.$invalid && (showroomUserForm.userListCmb.$dirty || submitted)}">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <select name="userListCmb" class="form-control" id="userListCmb" tabindex="1" autofocus
                                ng-focus="true"
                                ng-model="showRoomUser.userListCmb"
                                ng-options="s.UserName for s in usersList track by s.Id"
                                ng-required="true">
                            <option value="">--Select User Name--</option>
                        </select>
                    </div>
                    <p ng-show="showroomUserForm.userListCmb.$error.required && (showroomUserForm.userListCmb.$dirty || submitted)" class="help-block">User name is required.</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <label>Show Room Name</label>
                    <div class="input-group" ng-class="{ 'has-error' : showroomUserForm.showRoomCmb.$invalid && (showroomUserForm.showRoomCmb.$dirty || submitted)}">
                        <span class="input-group-addon"><i class="fa fa-cube"></i></span>
                        <select name="showRoom" class="form-control" id="showRoom" tabindex="2"
                                ng-focus="true"
                                ng-model="showRoomUser.showRoomCmb"
                                ng-options="s.ShowRoomName for s in showRoomList track by s.ShowRoomId"
                                ng-required="true">
                            <option value="">--Select Show Room No--</option>
                        </select>
                    </div>
                    <p ng-show="showroomUserForm.showRoomCmb.$error.required && (showroomUserForm.showRoomCmb.$dirty || submitted)" class="help-block">Show Room name is required.</p>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <label>Officer Name</label>
                    <div class="input-group" ng-class="{ 'has-error' : showroomUserForm.officerName.$invalid && (showroomUserForm.officerName.$dirty || submitted)}">
                        <span class="input-group-addon"><i class="fa fa-user-md"></i></span>
                        <input id="officerName" type="text" class="form-control" name="officerName" autocomplete="off" tabindex="3"
                               move-focus-by-enter-key
                               ng-model="showRoomUser.officerName"
                               ng-required="true">
                    </div>
                    <p ng-show="showroomUserForm.officerName.$error.required && (showroomUserForm.officerName.$dirty || submitted)" class="help-block">Officer name is required.</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <label>Address</label>
                    <div class="input-group" ng-class="{ 'has-error' : showroomUserForm.address.$invalid && (showroomUserForm.address.$dirty || submitted)}">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        <input id="address" type="text" class="form-control" name="address" autocomplete="off" tabindex="4"
                               move-focus-by-enter-key
                               ng-model="showRoomUser.address" />
                    </div>
                    <p ng-show="showroomUserForm.address.$error.required && (showroomUserForm.address.$dirty || submitted)" class="help-block">Address is required.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <label>Phone</label>
                    <div class="input-group" ng-class="{ 'has-error' : showroomUserForm.phone.$invalid && (showroomUserForm.phone.$dirty || submitted)}">
                        <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                        <input id="phone" type="text" class="form-control" name="phone" autocomplete="off" tabindex="5"
                               move-focus-by-enter-key
                               ng-model="showRoomUser.phone" />
                    </div>
                    <p ng-show="showroomUserForm.phone.$error.required && (showroomUserForm.phone.$dirty || submitted)" class="help-block">Phone is required.</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <label>Email</label>
                    <div class="input-group" ng-class="{ 'has-error' : showroomUserForm.address.$invalid && (showroomUserForm.address.$dirty || submitted)}">
                        <span class="input-group-addon"><i class="fa fa-at"></i></span>
                        <input id="email" type="text" class="form-control" name="email" autocomplete="off" tabindex="6"
                               move-focus-by-enter-key
                               ng-model="showRoomUser.email" />
                    </div>
                    <p ng-show="showroomUserForm.email.$error.required && (showroomUserForm.email.$dirty || submitted)" class="help-block">Email is required.</p>
                </div>
            </div>



        </div><!-- /.box-body -->

        <div class="box-footer no-border">
            <button type="submit" class="btn btn-primary" tabindex="7"
                    move-focus-by-enter-key
                    ng-hide="addButton"
                    ng-disabled="showroomUserForm.$invalid">
                <i class="fa fa-pencil"></i> Save Show Room User
            </button>
            <button type="button" class="btn btn-default"
                    ng-hide="cancelButton"
                    ng-click="clear()">
                <span class="glyphicon glyphicon-remove"></span> Clear
            </button>
        </div><!-- /.box-footer -->
    </form>
</div>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-cubes"></i> Total User : {{officerList.length}}</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>

    <div class="box-body">
        <table class="table table-bordered table-hover table-condensed">
            <tr style="font-weight: bold" class="info">
                <td style="width:20%;white-space: nowrap;">Unit Name</td>
                <td style="width:15%;white-space: nowrap;">Show Room Name</td>
                <td style="width:15%;white-space: nowrap;">User Name</td>
                <td style="width:20%;white-space: nowrap;">Officer Name</td>
                <td style="width:10%;white-space: nowrap;">Address</td>
                <td style="width:10%;white-space: nowrap;">Phone</td>
                <td style="width:10%;white-space: nowrap;">Email</td>
                <td></td>
            </tr>

            <tr ng-repeat="officer in officerList">
                <td>{{ officer.UnitName  }} </td>
                <td>{{officer.ShowRoomName }}</td>
                <td>{{officer.UserName}}</td>
                <td>{{officer.OfficerName}}</td>
                <td>{{officer.Address}}</td>
                <td>{{officer.Phone}}</td>
                <td>{{officer.Email}}</td>
                <td><button class="btn btn-danger" ng-click="delete($index, officer)"><i class="fa fa-trash"></i></button></td>
            </tr>
        </table>

    </div><!-- /.box-body -->
    <div class="box-footer no-border">

    </div><!-- /.box-footer -->

</div>





