

<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-users"></i>Store Delivery</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!--Server side error messageing------>
    <div class="col-sm-12">
        <div class="" ng-hide="serverMessage">
            <div class="alert alert-{{messageType}} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 style="margin-top:0"><i class="fa fa-times-circle"></i> Errors!</h3>
                <ul>
                    <li ng-repeat="errMsg in validationErrors">{{ errMsg }}</li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Server side error messageing-->
    <!--Client side error messageing------>
    <div class="col-sm-12">
        <div class="alert alert-{{messageType}} alert-dismissable" ng-hide="clientMessage">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> {{messageType|capitalize}}!</h4>
            {{message}}
        </div>
    </div>
    <!--End Client side error messageing-->
    <form name="entryForm" novalidate role="form" class="form-horizontal" id="entryForm">
        <div class="box-body">
            <div class="row">


                <div class="col-lg-3 col-md-6 col-sm-12">
                    <label>Date</label>
                    <div class="input-group" ng-class="{ 'has-error' : entryForm.PurchaseDate.$invalid && (entryForm.PurchaseDate.$dirty || submitted)}">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input name="PurchaseDate" type="text" class="form-control" placeholder="Purchase Date" autocomplete="off" dateformat="dd/MM/yyyy" tabindex="2"
                               ng-focus="purchaseDatePickerOpen()"
                               move-focus-by-enter-key
                               datepicker-localdate
                               datepicker-popup="dd/MM/yyyy"
                               is-open="purchaseDatePickerOpen"
                               ng-click="PurchaseDatePickerOpen()"
                               ng-model="purchase.PurchaseDate"
                               ng-required="true" />
                        <p ng-show="entryForm.ProcessDate.$error.required && (entryForm.ProcessDate.$dirty || submitted)" class="help-block">Process Date is required.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <div class="form-group">
                        <label>Factory Location</label>
                        <div class="input-group" ng-class="{ 'has-error' : entryForm.SupplierId.$invalid && (entryForm.SupplierId.$dirty || submitted)}">
                            <span class="input-group-addon"><i class="fa fa-ship"></i></span>
                            <select class="form-control" data-val="true"
                                    data-ng-options="item.ProcesseLocationId as item.ProcesseLocationName for item in ProcesslocationList"
                                    id="SupplierId" name="SupplierId"
                                    ng-model="purchase.SupplierId"
                                    ng-required="true">
                                <option value="">Select Factory</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <div class="form-group">

                    </div>
                </div>
            </div>

            <div class="row">
                <table class="table table-bordered table-responsive" style="" id="invoiceTable">
                    <tr class="danger">
                        <th style="text-align:center"></th>
                        <th width="30%">Product Name</th>
                        <th width="15%">Delivery Quantity</th>
                        <th width="10%">Processes List</th>
                        
                        <th width="25%"></th>
                        <th></th>
                    </tr>
                    <tr class="success">
                        <td>
                            <button class="btn btn-default btn-sm btn-block">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </td>
                        <td>
                            <div class="input-group" ng-class="{ 'has-error' : entryForm.PurchasedProductId.$invalid && (entryForm.PurchasedProductId.$dirty || submitted)}">
                                <span class="input-group-addon"><i class="fa fa-ship"></i></span>
                                <select class="form-control" data-val="true" data-ng-options="item.PurchasedProductId as item.PurchasedProductName for item in PurchasedProductList" id="PurchasedProductId" name="PurchasedProductId" ng-model="purchase.PurchasedProductId" ng-required="true">
                                    <option value="">Select Purchased Product</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-group" ng-class="{ 'has-error' : entryForm.Quantity.$invalid && (entryForm.Quantity.$dirty || submitted)}">
                                <span class="input-group-addon"><i class="fa fa-ship"></i></span>
                                <input id="Quantity" type="text" class="form-control" name="Quantity" placeholder="Quantity" autocomplete="off" tabindex="1" autofocus
                                       move-focus-by-enter-key
                                       ng-model="purchase.Quantity">

                            </div>
                        </td>
                        <td>
                            <div class="input-group" ng-class="{ 'has-error' : entryForm.ShowRoomId.$invalid && (entryForm.ShowRoomId.$dirty || submitted)}">
                                <span class="input-group-addon"><i class="fa fa-ship"></i></span>
                                <select class="form-control" data-val="true" data-ng-options="item.ProcessListId as item.ProcessListName for item in ProcessList" id="ShowRoomId" name="ShowRoomId" ng-model="purchase.ShowRoomId" ng-required="true">
                                    <option value="">Select Processes</option>
                                </select>
                            </div>
                        </td>
                        
                        <td>
                            <div style="width:100%">
                                <div style="width:50%;float:left;padding-right:.5em;">
                                    <button type="button" ng-click="Save(purchase)" ng-disabled="entryForm.$invalid" class="btn btn-success uppercase saveButton">Add</button>
                                    <!--<md-button class="md-raised md-primary" ng-click="addItem()" tabindex="7">Add</md-button>-->
                                </div>
                                <div style="width:50%;float:left;padding-left:.5em;">

                                    <!--<md-button class="md-raised md-warn" ng-click="saveInvoice()" tabindex="12">Save</md-button>-->
                                </div>
                            </div>

                        </td>
                        <td></td>
                    </tr>
                    <tr class="danger">
                        <th style="text-align:center">SL</th>
                        <th width="35%">Product Name</th>
                        <th width="15%">Delivery Quantity</th>
                        <th width="15%">Processes List</th>
                        
                        <th width="20%">Total</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="item in List">
                        <td>{{$index+1}}</td>
                        <td>{{item.PChallanNo}}</td>
                        <td>{{item.Quantity}}</td>
                        <td>{{item.SE}}</td>
                        <td>{{item.Amount}}</td>

                        <td> <button class="btn btn-primary btn-sm" ng-click="Edit(item)" data-toggle="tooltip"><i class="glyphicon glyphicon-edit"></i></button></td>
                        <td> <button class="btn btn-primary btn-sm" ng-click="Delete(item)" data-toggle="tooltip"><i class="glyphicon glyphicon-trash"></i></button></td>

                    </tr>
                </table>
            </div>
                
            </div><!-- /.box-body -->

        <div class="box-footer no-border">
            <div class="form-actions text-center">
                <div class="form-group" style="margin-bottom: 0">
                    <!--<button type="button" ng-click="Save(purchase)" ng-disabled="entryForm.$invalid" class="btn btn-success uppercase saveButton">Save</button>-->
                    <button type="button" ng-click="Update(purchase)" ng-disabled="entryForm.$invalid" class="btn btn-success uppercase updateButton">Update</button>
                    <button type="button" ng-click="Cancel()" class="btn btn-default uppercase cancelButton">Cancel</button>
                </div>
            </div>
        </div><!-- /.box-footer -->

    </form>
</div>
